<footer class="flex flex-col items-center py-3 md:py-5 bg-gray-100 text-neutral-content">
  <div class="mt-1 md:mt-3">
    <p class="text-xs md:text-sm text-gray-900">© 2024 MARVEL QUIZ</p>
  </div>
</footer>